<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1>Home Redecorator</h1>
<nav th:replace="fragments :: navigation"></nav>

<h2 align="center" th:text="${title}">Default Title</h2>
<br />
<h5 align="center"><a href="/project/create"> OR Create a New Project</a></h5>
<br />

<p th:unless="${projects} and ${projects.size()}">No current projects</p>


<!--add a link to the button to take them to the summary page -->
</div>
<div class="form-group">
    <span th:each="project : ${projects}">
    <button type="button" class="btn btn-primary btn-lg btn-block"
        th:text=${project.name}></button>
    <br /></span>
</div>





</body>
</html>